<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<center><h2>{{companyname}}</h2></center>


<div class="row">
    <div class="col-xs-6">
        <table>
            <th>Company</th>
  {%for i in mylist_names%}
    <tr><td>{{i}}</td>
    </tr>
      {%endfor%}

        </table>
    </div>

    <div class="col-xs-6">
        <table>
    <th>Rating</th>
      {%for i in mylist_rates%}
    <tr><td>{{i}}</td>
    </tr>
      {%endfor%}

        </table>

    </div>
</div>



<center><h3>price = {{price}}</h3></center>

</body>
</html>