<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to company rate App</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <style>
   </style>
  </head>

  <body id="page-top">


    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="static/profile.png" alt="">
        <h1 class="text-uppercase mb-0">Welcome To Company Rating App</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0"> </h2>
      </div>
    </header>
    <br>
<center>
  <form action="#" method = "post">
<div class="form-group">

                            <div class="col-md-3 col-md-offset-5 ">
                                <input  name="company_name" type="text" placeholder="Enter Company Name" class="form-control">
                              <br>
                            <button  type="submit" class="btn btn-primary btn-lg">Let's Start</button>
                            </div>
                        </div>

    </form>
</center>


  </body>

</html>
